   <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
  <div class="page-actions-inner" data-title="Rival Field Messenger">
  <div class="page-actions-buttons">
<button id="addsharedcatalog" title="Add Shared Catalog" type="button" class="action- scalable action-secondary" data-ui-id="addattribute-button">
    <span>Add Shared Catalog</span>
</button>
    </div></div></div>
	
	
	
	
<div id="popup-modal" style="display:none;">
</div>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey');
?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Add Shared catalog',
                buttons: [{
                    text: $.mage.__('close'),
                    class: 'product-popup-hide',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
             $("#addsharedcatalog").on('click',function(e){
	         e.preventDefault();
			   $.ajax({
                            url:'<?= /* @noEscape */ $block->getajaxUrl() ?>id/2/?isAjax=true',
                            type:'POST',
                            showLoader: true,
                            dataType:'json',
							data:{form_key:"<?php echo $FormKey->getFormKey();?>"},							   
                            complete: function(data) { 
						 //console.log(data);
                   		   $("#popup-modal").html(data.responseText).modal(options).modal('openModal');	
			                   $(".modal-slide").removeClass("modal-popup");		
											
                            },
                            error: function (xhr, status, errorThrown) {
                                console.log('Error happens. Try again.');
                            }
                        });

			 });
        }
    )
		//$('#demo-modal').load('get-dynamic-content.php?modal='+modal).dialog(options).dialog('open');

	
</script>


<style>
button.product-popup-hide{display:none;}

</style>