<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\ConfigurableProduct\Block\Adminhtml\Product\Steps\SelectAttributes */
?>
<div class="general-block <?= /* @noEscape */ $block->getData('config/dataScope') ?>" data-role="general-step">
    <div class="general-actions" data-type="skipKO">
        <?= /* @noEscape */  $block->getAddNewAttributeButton(); ?>
    </div>
    <h2 class="steps-wizard-title"><?php echo $block->escapeHtml(
            __('Step 1: Select Attributes')
        ); ?></h2>
        </div>

<script>
    require(['jquery'], function ($) {
        $('.<?= /* @noEscape */ $block->getData('config/dataScope') ?>[data-role=general-step]').applyBindings();
        $('body').trigger('contentUpdated');
    })
</script>
