<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\ConfigurableProduct\Block\Adminhtml\Product\Steps\AttributeValues */
?>
<div data-bind="scope: '<?= /* @noEscape */  $block->getComponentName()?>'">
    <h2 class="steps-wizard-title"><?php echo $block->escapeHtml(
            __('Step 2: Attribute Values')
        ); ?></h2>
    <div class="steps-wizard-info">
        <span><?php echo $block->escapeHtml(
                __('Select values from each attribute to include in this product. Each unique combination of values creates a unigue product SKU.')
            );?></span>
    </div>
</div>