<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\ConfigurableProduct\Block\Adminhtml\Product\Steps\Summary */
?>
<div data-bind="scope: '<?= /* @noEscape */  $block->getComponentName()?>'">
    <h2 class="steps-wizard-title"><?php echo $block->escapeHtml(
            __('Step 4: Summary')
        ); ?></h2>

    <div class="admin__data-grid-wrap admin__data-grid-wrap-static">
       
    </div>
</div>
