td.col-sharedprice{width:300px;}
/*! simple-switch 2016-03-30 */
.simple-switch-outter {
  width: 50px;
  height: 25px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border-radius: 20px;
  box-sizing: content-box;
  background-clip: content-box;
}
.simple-switch-outter .simple-switch {
  display: none;
}
.simple-switch-outter .simple-switch-circle {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 25px;
  position: absolute;
  top: 0;
  width: 30px;
}
.simple-switch-outter.unchecked {
  box-shadow: #dfdfdf 0px 0px 0px 0px inset;
  border-color: #dfdfdf;
  transition: border 0.4s, box-shadow 0.4s;
  background-color: #ffffff;
}
.simple-switch-outter.unchecked .simple-switch-circle {
  left: 0px;
  transition: background-color 0.4s, left 0.2s;
}
.simple-switch-outter.checked {
  border-color: #79a22e;
  box-shadow: #79a22e 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #79a22e;
}
.simple-switch-outter.checked .simple-switch-circle {
  left: 20px;
  transition: background-color 0.4s, left 0.2s;
  background-color: #ffffff;
}
.admin__scope-old input[type="radio"], .admin__scope-old input[type="checkbox"]
{
right:1px;
top:9px;
width:50px;	
	
}